In [77]:
idade1 = 39
idade2 = 30
idade3 = 27
idade4 = 18

print(idade1)
print(idade2)
print(idade3)
print(idade4)

39
30
27
18

In [78]:
idades = [39, 30, 27, 18]
print(type(idades))

print(len(idades))
print(idades[0])
print(idades)
print(idades[1])
print(idades[2])
print(idades[3])

<class 'list'>
4
39
[39, 30, 27, 18]
30
27
18

In [79]:
idades.append(15)
print(idades)
print(idades[4])

[39, 30, 27, 18, 15]
15

In [80]:
for idade in idades:
    print(idade)

39
30
27
18
15

In [81]:
idades.append(27)
idades.remove(27)
print(idades)

[39, 30, 18, 15, 27]

In [82]:
idades.insert(0, 20)
print(idades)

[20, 39, 30, 18, 15, 27]

In [83]:
idades.extend([38, 40])
print(idades)
for idade in idades:
    print(idade + 1)

[20, 39, 30, 18, 15, 27, 38, 40]
21
40
31
19
16
28
39
41

In [84]:
idades_no_ano_que_vem = []
for idade in idades:
    idades_no_ano_que_vem.append(idade + 1)
print(idades_no_ano_que_vem)

[21, 40, 31, 19, 16, 28, 39, 41]

In [85]:
# List comprehentions
idades_no_ano_que_vem = [(idade + 1) for idade in idades]
print(idades_no_ano_que_vem)

[21, 40, 31, 19, 16, 28, 39, 41]

In [86]:
idades_no_ano_que_vem = [idade + 1 for idade in idades if idade > 21]
print(idades_no_ano_que_vem)

[40, 31, 28, 39, 41]

In [87]:
def proximo_ano(idade):
    return idade + 1

idades_no_ano_que_vem = [proximo_ano(idade) for idade in idades if idade > 21]
print(idades_no_ano_que_vem)

[40, 31, 28, 39, 41]

In [88]:
# instancia o valor padrão do parâmtro que vai existir durante a vida do programa e vai armazanar as alterações
def faz_processamneto_de_visaulização(lista = []):
    print(len(lista))
    lista.append(13)

In [89]:
def faz_processamento_de_visualização(lista = None):
    if lista == None:
        lista = list()
    print(len(lista))
    print(lista)
    lista.append(13)

In [90]:
faz_processamento_de_visualização(idades)
print(idades)

for i in range(0, 10):
    faz_processamento_de_visualização()
faz_processamento_de_visualização(idades)
faz_processamento_de_visualização()

8
[20, 39, 30, 18, 15, 27, 38, 40]
[20, 39, 30, 18, 15, 27, 38, 40, 13]
0
[]
0
[]
0
[]
0
[]
0
[]
0
[]
0
[]
0
[]
0
[]
0
[]
9
[20, 39, 30, 18, 15, 27, 38, 40, 13]
0
[]

# Obejtos próprios

In [91]:
class ContaCorrente:
    def __init__(self, codigo):
        self.codigo = codigo
        self.saldo = 0

    def deposita(self, valor):
        self.saldo += valor

    def __str__(self):
        return f"[>>Código {self.codigo} Saldo {self.saldo}<<]"

In [92]:
conta_do_gui = ContaCorrente(15)
print(conta_do_gui)
conta_do_gui.deposita(500)
print(conta_do_gui)

[>>Código 15 Saldo 0<<]
[>>Código 15 Saldo 500<<]

In [93]:
conta_da_dani = ContaCorrente(47685)
conta_da_dani.deposita(1000)
print(conta_da_dani)

[>>Código 47685 Saldo 1000<<]

In [94]:
contas = [conta_do_gui, conta_da_dani]
print(contas)

[<__main__.ContaCorrente object at 0x00000216AC693400>, <__main__.ContaCorrente object at 0x00000216AC692E00>]

In [95]:
for conta in contas:
    print(conta)

[>>Código 15 Saldo 500<<]
[>>Código 47685 Saldo 1000<<]

In [96]:
contas = [conta_do_gui, conta_da_dani, conta_do_gui]
print(contas[0])
conta_do_gui.deposita(100)

for conta in contas:
    print(conta)

[>>Código 15 Saldo 500<<]
[>>Código 15 Saldo 600<<]
[>>Código 47685 Saldo 1000<<]
[>>Código 15 Saldo 600<<]

In [97]:
contas[2].deposita(300)
print(conta_do_gui)

[>>Código 15 Saldo 900<<]

In [98]:
def deposita_para_todas(contas):
    for conta in contas:
        conta.deposita(100)

In [99]:
contas = [conta_do_gui, conta_da_dani]
deposita_para_todas(contas)
for conta in contas:
    print(conta)

[>>Código 15 Saldo 1000<<]
[>>Código 47685 Saldo 1100<<]

In [100]:
# lista é mutável e pode abrigar vários tipos de uma vez podendo causar erros
contas.insert(0, 76)
print(contas[0], contas[1], contas[2])

deposita_para_todas(contas)

76 [>>Código 15 Saldo 1000<<] [>>Código 47685 Saldo 1100<<]

AttributeError: 'int' object has no attribute 'deposita'

In [ ]:
# tupla - imutável
guilherme = ("Guilherme", 37, 1981)
daniela = ("Daniela", 31, 1987)
# paulo = (39, "Paulo", 1979) # ruim

In [ ]:
# variação OO
conta_do_gui.deposita(100)

In [ ]:
# variação funcional
def deposita(conta): # separando o comportamento dos dados
    novo_saldo = conta[1] + 100
    codigo = conta[0]
    return (codigo, novo_saldo)

In [ ]:
conta_do_gui = (15, 1000)
# conta_do_gui[1] += 100
conta_do_gui = deposita(conta_do_gui)
print(conta_do_gui)

In [ ]:
usuarios = [guilherme, daniela]
print(usuarios)
usuarios.append(("Paulo", 39, 1979))
print(usuarios)

In [ ]:
conta_do_gui = ContaCorrente(15)
conta_do_gui.deposita(500)
conta_da_dani = ContaCorrente(234876)
conta_da_dani.deposita(1000)

contas = (conta_do_gui, conta_da_dani)

for conta in contas:
    print(conta)

In [ ]:
# contas.append(423768)
contas[0].deposita(100)
for conta in contas:
    print(conta)

# Herança e polimorfismo

In [ ]:
from abc import ABCMeta, abstractmethod
class Conta(metaclass=ABCMeta):
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  @abstractmethod
  def passa_o_mes(self):
    pass

  def __str__(self):
    return f"[>>Codigo {self._codigo} Saldo {self._saldo}<<]"

In [ ]:
print(Conta(88))

In [ ]:
class ContaCorrente(Conta):
  def passa_o_mes(self):
    self._saldo -= 2

class ContaPoupanca(Conta):
  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

class ContaInvestimento(Conta):
  pass

In [ ]:
ContaInvestimento(764)

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

In [ ]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
contas = [conta16, conta17]

for conta in contas:
  conta.passa_o_mes() # duck typing
  print(conta)

# evitaremos usar array puro. se precisamos de trabalho numérico, é costume usar numpy

In [ ]:
import array as arr

arr.array("d", [1, 3.5])

In [ ]:
arr.array("d", [1, 3.5, "Guilherme"])

In [ ]:
%pip install numpy

Collecting numpy
  Downloading numpy-1.23.2-cp310-cp310-win_amd64.whl (14.6 MB)
     --------------------------------------- 14.6/14.6 MB 25.1 MB/s eta 0:00:00
Installing collected packages: numpy
Successfully installed numpy-1.23.2
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the 'c:\Users\edmarp\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [ ]:
import numpy as np

numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

In [ ]:
numeros + 3

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return f"[>>Codigo {self._codigo} Saldo {self._saldo}<<]"

In [ ]:
conta1 = ContaSalario(37)
print(conta1)

In [ ]:
conta2 = ContaSalario(37)
print(conta2)

In [ ]:
conta1 == conta2

In [ ]:
contas = [conta1]
conta1 in contas

In [ ]:
conta2 in contas

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    return self._codigo == outro._codigo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return f"[>>Codigo {self._codigo} Saldo {self._saldo}<<]"

In [ ]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

In [ ]:
conta1 != conta2

In [ ]:
conta1 in [conta2]

In [ ]:
conta2 in [conta1]

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return f"[>>Codigo {self._codigo} Saldo {self._saldo}<<]"

In [ ]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)

conta1.deposita(10)

In [ ]:
conta1 == conta2

In [ ]:
conta1 = ContaSalario(37)
conta2 = ContaCorrente(37)

In [ ]:
conta1 == conta2

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return f"[>>Codigo {self._codigo} Saldo {self._saldo}<<]"

class ContaMultiploSalario(ContaSalario):
  pass

In [ ]:
isinstance(ContaCorrente(34), ContaCorrente)

In [ ]:
isinstance(ContaCorrente(34), Conta)

In [ ]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

for i in range(len(idades)):
    print(i, idades[i])

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [ ]:
range(len(idades)) # lazy...

range(0, 8)

In [ ]:
enumerate(idades) # lazy

In [ ]:
list(range(len(idades))) # forcei a geração dos valores

[0, 1, 2, 3, 4, 5, 6, 7]

In [ ]:
list(enumerate(idades))

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

In [ ]:
for indice, idade in enumerate(idades): # unpacking da nossa tupla
    print(indice, "x", idade)

0 x 15
1 x 87
2 x 32
3 x 65
4 x 56
5 x 32
6 x 49
7 x 37

In [ ]:
usuarios = [
    ("Guilherme", 37, 1981),
    ("Daniela", 31, 1987),
    ("Paulo", 39, 1979)
]

for nome, idade, nascimento in usuarios: # ja desempacotando - mais legível - explícito
    print(nome)

Guilherme
Daniela
Paulo

In [ ]:
for nome, _, _ in usuarios: # ja desempacotando, ignorando o resto - implícito
    print(nome)

Guilherme
Daniela
Paulo

In [ ]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [ ]:
sorted(idades)

[15, 32, 32, 37, 49, 56, 65, 87]

In [ ]:
reversed(idades) # devolve um iterável - não altera a lista original - lazy

In [ ]:
list(reversed(idades))

[37, 49, 32, 56, 65, 32, 87, 15]

In [ ]:
sorted(idades, reverse=True) # devolve uma lista nova ordenada a partrir da lista passada como parâmetro - não altera a lista original

[87, 65, 56, 49, 37, 32, 32, 15]

In [ ]:
list(reversed(sorted(idades)))

[87, 65, 56, 49, 37, 32, 32, 15]

In [ ]:
idades.sort() # ordena a lista original

In [ ]:
idades

[15, 32, 32, 37, 49, 56, 65, 87]

In [ ]:
15 < 32

True

In [ ]:
nomes = ["guilherme", "Daniela", "Paula"]
sorted(nomes)

['Daniela', 'Paula', 'guilherme']

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return f"[>>Codigo {self._codigo} Saldo {self._saldo}<<]"

In [ ]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [ ]:
for conta in contas:
    print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]
[>>Codigo 133 Saldo 510<<]

In [ ]:
# sorted(contas)

TypeError: '<' not supported between instances of 'ContaSalario' and 'ContaSalario'

In [ ]:
def extrai_saldo(conta):
    return conta._saldo

for conta in sorted(contas, key=extrai_saldo):
    print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [107]:
from operator import attrgetter

for conta in sorted(contas, key=attrgetter("_saldo")):
    print(conta)

[>>Codigo 1700 Saldo 500<<]
[>>Codigo 133 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]

In [101]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
      return self._saldo < outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return f"[>>Codigo {self._codigo} Saldo {self._saldo}<<]"

In [102]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [103]:
conta_do_guilherme < conta_da_daniela

True

In [104]:
conta_do_guilherme > conta_da_daniela

False

In [105]:
for conta in sorted(contas, reverse=True):
    print(conta)

[>>Codigo 3 Saldo 1000<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 17 Saldo 500<<]

In [109]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [110]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
    print(conta)

[>>Codigo 3 Saldo 500<<]
[>>Codigo 133 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]

In [111]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    if self._saldo != outro._saldo:
        return self._saldo < outro._saldo
    else:
        return self._codigo < outro._codigo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return f"[>>Codigo {self._codigo} Saldo {self._saldo}<<]"

In [114]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [115]:
for conta in sorted(contas):
    print(conta)

[>>Codigo 133 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]

In [116]:
from functools import total_ordering

@total_ordering # Após nós implementarmos uma ou mais funções de ordenação, cuida de usar as que a gente criou para realizar outras ordenações não implementadas
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    if self._saldo != outro._saldo:
        return self._saldo < outro._saldo
    else:
        return self._codigo < outro._codigo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return f"[>>Codigo {self._codigo} Saldo {self._saldo}<<]"

In [117]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [118]:
conta_do_guilherme <= conta_da_daniela

True

In [119]:
conta_do_guilherme <= conta_do_paulo

False

In [120]:
conta_do_guilherme < conta_do_guilherme

False

In [121]:
conta_do_guilherme == conta_do_guilherme

True

In [122]:
conta_do_guilherme <= conta_do_guilherme

True